html {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    background-color: #345;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('../svg/large-triangles.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

header .logo {
    width: 96px;
}

header .search input[type=text] {
    background-color: #345a;
    border: none;
    color: #ccc;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    width: 300px;
}

header .search input[type=submit] {
    background-color: #345a;
    border: none;
    border-radius: 5px;
    color: #ccc;
    padding: 10px;
}

header a {
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
}

nav {
    margin-right: 25px;
}

main {
    background-image: url('../svg/parabolic-rectangle.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    height: 50vw;
    margin-top: 115px;
    padding: 20px;
    text-align: center;
}

main img {
    border-radius: 75px;
    width: 512px;
}

footer {
    background-image: url('../svg/cornered-stairs.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 5px solid #000;
    padding: 10px 0;
    text-align: center;
}
